<div class="container">
  <section class="my-3">
    <div class="row d-flex justify-content-center">
      <div class="text-center">
        <h3 class="fw-light">Obituary</h3>
        <div class="divider mx-auto"></div>
      </div>
    </div>
  </section>

  <!-- IMAGE -->
  <section>
    <div class="card shadow-sm border-0">
      <!-- HEADER (completely OUTSIDE wreath system) -->
      <div class="notice-header">
        <h4>{{ notice?.name }}</h4>
        <h6>
          {{ notice?.birth_date | date : "MMMM d, yyyy" : "UTC" }} -
          {{ notice?.death_date | date : "MMMM d, yyyy" : "UTC" }}
        </h6>
      </div>

      <!-- FRAME AREA -->
      <div class="notice-frame">
        <!-- WREATH -->
        <img src="/assets/img/wreath-frame.png" class="wreath-bg" alt="" />

        <!-- SAFE CONTENT ZONE -->
        <div class="content">
          <img
            *ngIf="imageUrl"
            class="notice-image"
            [src]="imageUrl"
            alt="Notice image"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- ANNOUNCEMENT -->
  <section class="mt-4">
    <div class="card shadow-sm border-0">
      <div class="card-body p-4">
        <div class="row d-flex">
          <div
            class="col-12 d-flex flex-column justify-content-center align-items-center wreath-container"
          >
            <h5 class="">Announcement</h5>
            <textarea
              class="form-control-lg w-100 text-muted"
              id="announcement"
              readonly
              appAutoResizeTextarea
              name="announcement"
              [(ngModel)]="notice!.announcement"
              style="border: 2px solid #ddd; overflow: hidden; font-size: 16px"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- EVENTS -->
  <section class="mt-4">
    <div class="card shadow-sm border-0">
      <div class="card-body p-4">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-8 mx-auto">
            <div class="col-12 mb-1">
              <h5 class="section-title mb-0">Events</h5>
              <div></div>
            </div>

            <div class="accordion" id="eventsAccordion">
              <div
                class="accordion-item mb-2"
                *ngFor="let event of notice?.events; let i = index"
              >
                <!-- Accordion Header -->
                <h2 class="accordion-header" id="heading{{ i }}">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i"
                  >
                    <div
                      class="w-100 d-flex flex-column flex-md-row align-items-md-center justify-content-start"
                    >
                      <div class="fw-semibold primary-color text-capitalize">
                        {{ event.type | truncate : 15 }}
                      </div>

                      <div
                        class="text-muted small d-flex align-items-center mt-1 mt-md-0 text-md-end ms-2"
                      >
                        <span>
                          <span class="mx-2">•</span>
                          {{ event.date_str || "Date?" }}
                          <span class="mx-2">•</span>
                          {{ event.location | truncate : 20 }}
                        </span>
                        <small class="ms-2 blue">
                          <span class="see-more">(see more)</span>
                          <span class="see-less">(see less)</span>
                        </small>
                      </div>
                    </div>
                  </button>
                </h2>

                <!-- Accordion Body -->

                <div
                  [id]="'collapse' + i"
                  class="accordion-collapse collapse"
                  data-bs-parent="#eventsAccordion"
                >
                  <div class="accordion-body">
                    <div class="row g-3">
                      <!-- TYPE -->
                      <div class="col-12 col-md-6">
                        <label class="form-label">
                          <strong>Type </strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="event.type"
                          name="eventType{{ i }}"
                          disabled
                          disabled
                        />
                      </div>

                      <!-- DATE -->
                      <div class="col-12 col-md-3">
                        <label class="form-label">
                          <strong>Date </strong>
                        </label>
                        <input
                          class="form-control"
                          disabled
                          [(ngModel)]="event.date_str"
                          name="eventDate{{ i }}"
                          disabled
                        />
                      </div>

                      <!-- TIME -->
                      <div class="col-12 col-md-3">
                        <label class="form-label">
                          <strong>Time </strong>
                        </label>
                        <input
                          type="time"
                          class="form-control"
                          [(ngModel)]="event.time"
                          name="eventTime{{ i }}"
                          disabled
                        />
                      </div>

                      <!-- LOCATION -->
                      <div class="col-12">
                        <label class="form-label">
                          <strong>Location </strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="event.location"
                          name="eventLocation{{ i }}"
                          disabled
                        />
                      </div>

                      <!-- ADDRESS -->
                      <div class="col-12">
                        <label class="form-label">
                          <strong>Address </strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="event.address"
                          name="eventAddress{{ i }}"
                          disabled
                        />
                      </div>

                      <!-- CITY -->
                      <div class="col-12 col-md-6">
                        <label class="form-label">
                          <strong>City </strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="event.city"
                          name="eventCity{{ i }}"
                          disabled
                        />
                      </div>

                      <!-- STATE -->
                      <div class="col-12 col-md-6">
                        <label class="form-label">
                          <strong>State </strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="event.state"
                          name="eventState{{ i }}"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- CONTACTS -->
  <section class="mt-4">
    <div class="card shadow-sm border-05">
      <div class="card-body p-4">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-lg-8 mx-auto">
            <div class="col-12 mb-1">
              <h5 class="section-title mb-0">Contacts</h5>
              <div></div>
            </div>

            <div class="accordion" id="contactsAccordion">
              <div
                class="accordion-item mb-2"
                *ngFor="let contact of notice?.contacts; let i = index"
              >
                <!-- Accordion Header -->
                <h2 class="accordion-header" id="contactheading{{ i }}">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#headingcollapse' + i"
                  >
                    <div
                      class="w-100 d-flex flex-column flex-md-row align-items-md-center justify-content-start"
                    >
                      <div class="fw-semibold primary-color text-capitalize">
                        {{ contact.name | truncate : 15 }}
                      </div>

                      <div
                        class="text-muted small d-flex align-items-center mt-1 mt-md-0 text-md-end ms-2"
                      >
                        <span>
                          <span class="mx-2">•</span>
                          {{ contact.phone }}
                        </span>
                        <small class="ms-2 blue">
                          <span class="see-more">(see more)</span>
                          <span class="see-less">(see less)</span>
                        </small>
                      </div>
                    </div>
                  </button>
                </h2>

                <!-- Accordion Body -->

                <div
                  [id]="'headingcollapse' + i"
                  class="accordion-collapse collapse"
                  data-bs-parent="#contactsAccordion"
                >
                  <div class="accordion-body">
                    <div class="row g-3">
                      <!-- Name -->
                      <div class="col-12 col-md-6">
                        <label class="form-label">
                          <strong>Name </strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="contact.name"
                          disabled="true"
                          name="contactName{{ i }}"
                        />
                      </div>

                      <!-- Relationship -->
                      <div class="col-12 col-md-3">
                        <label class="form-label">
                          <strong>Relationship</strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="contact.relationship"
                          disabled="true"
                          name="contactRelationship{{ i }}"
                        />
                      </div>

                      <!-- Phone -->
                      <div class="col-12 col-md-3">
                        <label class="form-label">
                          <strong>Phone </strong>
                        </label>
                        <input
                          class="form-control"
                          [(ngModel)]="contact.phone"
                          disabled="true"
                          name="contactPhone{{ i }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ADDITIONAL INFO -->
  <section class="mt-4">
    <div class="card shadow-sm border-0">
      <div class="card-body p-4">
        <div class="row d-flex justify-content-center">
          <div
            class="col-12 col-md-8 d-flex flex-column justify-content-center"
          >
            <h5 class="d-flex justify-content-center">
              Additional Information
            </h5>
            <textarea
              class="form-control-lg w-100 text-muted"
              id="additionalInformation"
              readonly
              appAutoResizeTextarea
              name="additionalInformation"
              [(ngModel)]="notice!.additionalInformation"
              style="border: 2px solid #ddd; overflow: hidden; font-size: 16px"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
