<section>
  <div class="text-center mb-4">
    <h3 class="fw-light">In Memory</h3>
    <div class="divider mx-auto"></div>
  </div>

  <div class="row justify-content-center mb-4">
    <div class="col-12">
      <app-memoriam-search></app-memoriam-search>
    </div>
  </div>

  <div class="row g-4">
    @if (isLoading) {
    <app-skeleton-circles [count]="6"></app-skeleton-circles>
    } @else { @for (memoriam of memoriams; track memoriam._id) {
    <div
      class="col-6 col-sm-4 col-md-12 text-center memoriam-card"
      [routerLink]="['/memoriam-view', memoriam._id]"
    >
      <div class="memoriam-image-wrapper">
        <img
          *ngIf="memoriam.imageId"
          [src]="apiUrl + '/image/' + memoriam.imageId"
          alt="Memoriam image"
          loading="lazy"
        />
      </div>

      <p class="memoriam-name">
        {{ memoriam.name }}
      </p>
    </div>
    } }
  </div>

  @if (memoriams.length === 0) {
  <div class="text-center mt-4">
    <p class="text-muted small">No memorial tributes found.</p>
  </div>
  }
</section>
