@import 'ngx-toastr/toastr';

body {
    font-family: "Libre Baskerville", Georgia, serif !important;
    background-color: #e9e4e9 !important;
}

h1, h2, h3, h4, h5, h6, label {
  letter-spacing: 0.02em !important;
  font-weight: 500 !important;
  color: #5f4b6e !important;
}

textarea {
  width: 100% !important;
  max-width: 700px !important;
}


a {
  cursor: pointer;
}

.w-md-50 {
    width: 50%;
    
    @media screen and (min-width: 996px) {
        width: 100% !important;
        
    }
}

input, select, textarea {
    border: 1px solid rgb(198, 130, 198) !important;
}



  .announcement-width {
    width: 100% !important;

    @media screen and (min-width: 768px) {
      width: 75% !important;
      
  }
  }


  .primary-color {
    color: #6b4f7a !important;
  }
  
  .primary-bg-color {
    background-color: #6b4f7a !important;
  }

  .btn-primary {
    color: white !important;
    background-color: #6b4f7a !important;
    border-color: #6b4f7a !important;

    &:hover {
      color: white !important;
      background-color: #5a4268 !important;
      border-color: #6b4f7a !important;
    }
  }

  .btn-secondary {
    color: white !important;
    background-color: #5a4268 !important;
    border-color: #6b4f7a !important;

    &:hover {
      color: white !important;
      background-color: #6b4f7a !important;
    }
  }

  .form-check-input:checked {
    background-color: #6b4f7a !important;
    border-color: #6b4f7a !important;
  }

  .alert {
    color: red !important;
  }

  .blue {
    color: blue !important;
  }
  
  
  .divider {
    width: 60px;
    height: 2px;
    background-color: #b8a2c8; /* soft purple */
    margin-top: 8px;
  }

  
/* ============================= */
/* Header */
/* ============================= */
.notice-header {
  text-align: center;
  padding: 10px 0 5px;

  h4 {
    margin: 0 0 4px;
    font-weight: 500;
  }

  h6 {
    margin: 0;
    color: #6c757d;
  }
}

/* ============================= */
/* Frame container */
/* ============================= */
.notice-frame {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 20px; /* controls space around wreath */
}

@media (min-width: 360px) {
  .notice-frame  {
    padding: 2px 20px; 
  }
}

@media (min-width: 576px) {
  .notice-frame  {
    padding: 3px 20px; 
  }
}

@media (min-width: 768px) {
  .notice-frame  {
    padding: 51px 20px; 
  }
}

/* ============================= */
/* Wreath */
/* ============================= */
.wreath-bg {
  width: 100%;
  max-width: 500px;

  // opacity: 0.5;
  // filter: saturate(0.6) brightness(1.1);

  pointer-events: none;

}

@media (min-width: 1200px) {
  .wreath-bg {
    transform: scale(1.2);
  }
}

@media (min-width: 992px) {
  .wreath-bg {
    transform: scale(1.2);
  }
}

@media (min-width: 768px) {
  .wreath-bg {
    transform: scale(1.2);
  }
}



/* ============================= */
/* Content (centered inside wreath) */
/* ============================= */
.content {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  // max-width: 500px;

  /* 🔥 SAFE ZONE (this is the key fix) */
  padding: 20% 15%;
}

/* ============================= */
/* Image */
/* ============================= */
.notice-image {
  width: 100%;
  // max-width: 260px;   /* controls image size ONLY */
  height: auto;

  border-radius: 6px;
}



@media (min-width: 360px) {
  .notice-image {
    width: 53%;
  }
}

@media (min-width: 576px) {
  .notice-image {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .notice-image {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .notice-image {
    width: 36%;
  }
}

@media (min-width: 1200px) {
  .notice-image {
    width: 31%;
  }
}


//Accordion
.accordion-button {
  .see-less {
    display: none;
  }

  &:not(.collapsed) {
    .see-more {
      display: none;
    }

    .see-less {
      display: inline;
    }
  }

  &.collapsed {
    .see-more {
      display: inline;
    }

    .see-less {
      display: none;
    }
  }
}