@import 'ngx-toastr/toastr';

body {
    font-family: "Libre Baskerville", Georgia, serif !important;
    background-color: #e9e4e9 !important;
}

h1, h2, h3, h4, h5, h6, label {
  letter-spacing: 0.02em !important;
  font-weight: 500 !important;
  color: #5f4b6e !important;
}

textarea {
  width: 100% !important;
  max-width: 700px !important;
}


a {
  cursor: pointer;
}

.w-md-50 {
    width: 50%;
    
    @media screen and (min-width: 996px) {
        width: 100% !important;
        
    }
}

input, select, textarea {
    border: 1px solid rgb(198, 130, 198) !important;
}

.notice-image,
.memoriam-image {
  display: block;           /* important */
  width: 75% !important;    /* force uniform width */
  height: auto;

  aspect-ratio: 3 / 4;
  object-fit: contain;

  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .notice-image,
  .memoriam-image {
    width: 50% !important;
  }
}



  .announcement-width {
    width: 100% !important;

    @media screen and (min-width: 768px) {
      width: 75% !important;
      
  }
  }


  .primary-color {
    color: #6b4f7a !important;
  }
  
  .primary-bg-color {
    background-color: #6b4f7a !important;
  }

  .btn-primary {
    color: white !important;
    background-color: #6b4f7a !important;
    border-color: #6b4f7a !important;

    &:hover {
      color: white !important;
      background-color: #5a4268 !important;
      border-color: #6b4f7a !important;
    }
  }

  .btn-secondary {
    color: white !important;
    background-color: #5a4268 !important;
    border-color: #6b4f7a !important;

    &:hover {
      color: white !important;
      background-color: #6b4f7a !important;
    }
  }

  .form-check-input:checked {
    background-color: #6b4f7a !important;
    border-color: #6b4f7a !important;
  }

  .alert {
    color: red !important;
  }

  .blue {
    color: blue !important;
  }


input:focus {
    /*outline: none;*/
    /*border: 2px solid blue !important;*/
  }
  
  
  .divider {
    width: 60px;
    height: 2px;
    background-color: #b8a2c8; /* soft purple */
    margin-top: 8px;
  }