.skeleton-card {
    border: none;
    border-radius: 12px;
    padding: 0;
    overflow: hidden;
  }
  
  .skeleton-image {
    height: 220px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #f2f2f2 25%,
      #e6e6e6 50%,
      #f2f2f2 75%
    );
    background-size: 200% 100%;
    // animation: shimmer 1.4s infinite;
    animation: shimmer 2s infinite;

  }
  
  .skeleton-line {
    height: 14px;
    border-radius: 6px;
    background: linear-gradient(
      90deg,
      #f2f2f2 25%,
      #e6e6e6 50%,
      #f2f2f2 75%
    );
    background-size: 200% 100%;
    // animation: shimmer 1.4s infinite;
    animation: shimmer 2s infinite;

  }
  
  .skeleton-title {
    width: 70%;
    margin: 0 auto;
  }
  
  .skeleton-date {
    width: 50%;
    margin: 0 auto;
    height: 12px;
  }
  
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
  