<!-- <div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12 col-md-10">
      <app-death-notice-gallery />
    </div>
    <div
      class="memoriam-div col-12 col-md-2 mt-4 mt-md-0 d-md-flex flex-column align-items-center"
    >
      <app-memoriam />
    </div>
  </div>
</div> -->

<div class="container">
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1"
          >Dearly Departed</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2"
          >In Memory</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane active" role="tabpanel">
        <div class="row mt-4">
          <div class="col-12">
            <app-death-notice-gallery />
          </div>
        </div>
      </div>

      <div id="tab-2" class="tab-pane" role="tabpanel">
        <div class="row mt-4">
          <div class="col-12">
            <app-memoriam />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
