.card {
    border-radius: 12px;
  }
  
  .card-title {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .sticky-submit {
    position: sticky;
    bottom: 0;
    background: white;
    padding: 15px;
    border-top: 1px solid #eee;
  }



// .group-dropdown {
//     position: absolute;
//     width: 100%;
//     max-height: 300px;
//     overflow-y: auto;
//     z-index: 1000;
//     background-color: #ffffff;
//     border: 1px solid #dee2e6;
//     border-radius: 0.5rem;
//     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
//   }

  .group-dropdown {
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
  
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
  }

  
  .dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

