<div class="row d-flex justify-content-center mt-4">
  <div class="text-center mb-4">
    <h3 class="fw-light">Dearly Departed</h3>
    <div class="divider mx-auto"></div>
  </div>
</div>

<div class="row d-flex justify-content-center mb-2">
  <div class="col-12 d-flex justify-content-center">
    <div
      class="row justify-content-center mb-4 g-3 w-100"
      style="max-width: 900px"
    >
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <app-search></app-search>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <app-group-search></app-group-search>
      </div>
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <app-year-search></app-year-search>
      </div>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  @if (isLoading) {
  <app-skeleton-cards [count]="12"></app-skeleton-cards>
  } @else { @for (notice of notices; track notice._id) {

  <div
    class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-flex flex-column align-items-center mb-4"
    [routerLink]="['/death-notice', notice._id]"
  >
    <div class="card card-hover">
      <div
        class="card-img-top d-flex justify-content-center align-items-center p-2"
      >
        <img
          *ngIf="notice.imageId"
          class="img-fluid"
          [src]="apiUrl + '/image/' + notice.imageId"
          alt="Notice image"
          loading="lazy"
        />
      </div>

      <div class="card-body d-flex justify-content-center flex-column">
        <h4 class="card-title text-center fw-bold" style="font-size: 14.7px">
          {{ notice.name | resizeAndEllipsis : 15 }}
        </h4>
        <h6
          class="text-muted card-subtitle mb-2 text-center"
          style="font-size: 15px"
        >
          {{ notice.death_date | date : "MMMM d, yyyy" }}
        </h6>
      </div>
    </div>
  </div>
  } @if (notices.length === 0) {
  <div class="text-center mt-5">
    <p class="text-muted">No notices found.</p>
  </div>
  } }
</div>

<div class="row d-flex justify-content-center">
  <app-pagination></app-pagination>
</div>
