<div class="container col-12 col-md-10">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <label class="form-label fw-bold" style="font-size: 18px"
      >Enter photo of deceased: <span class="text-danger">*</span></label
    >
    <div
      class="drop-zone"
      [class.dragging]="isDragging"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave($event)"
      (drop)="onDrop($event)"
      (click)="fileInput.click()"
      tabindex="0"
      style="background-color: white !important"
    >
      <input
        #fileInput
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        hidden
      />

      <button
        class="btn-secondary"
        type="button"
        (click)="fileInput.click(); $event.stopPropagation()"
      >
        Choose image
      </button>
      <p>or drag & drop image within this box</p>

      <div *ngIf="preview" class="preview">
        <img [src]="preview" alt="Selected image preview" />
      </div>

      <div *ngIf="!preview" class="preview">
        <img class="img-fluid" src="assets/img/portrait_placeholder.png" />
      </div>
    </div>

    <div *ngIf="fileError" class="error">{{ fileError }}</div>
  </form>
</div>
