<div
  class="col text-center d-flex justify-content-center"
  style="text-align: center"
>
  <nav>
    <ul class="pagination" style="cursor: pointer">
      <li
        class="page-item"
        [class.disabled]="numberOfPages <= 1 || pageNo === 1"
      >
        <a
          class="page-link"
          aria-label="Previous"
          (click)="getAdjacentPage('prev')"
        >
          <span aria-hidden="true">«</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of pages">
        <a
          class="page-link"
          (click)="getPage(page)"
          [ngClass]="{
            'btn-primary': page === pageNo
          }"
          >{{ page }}</a
        >
      </li>
      <li class="page-item" [class.disabled]="pageNo >= numberOfPages">
        <a
          class="page-link"
          aria-label="Next"
          (click)="getAdjacentPage('next')"
        >
          <span aria-hidden="true">»</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
