<div class="container">
  <section class="my-3">
    <div class="row d-flex justify-content-center">
      <div class="text-center">
        <h3 class="fw-light">In Memory</h3>
        <div class="divider mx-auto"></div>
      </div>
    </div>
  </section>

  <section>
    <div class="card shadow-sm border-0">
      <!-- HEADER (completely OUTSIDE wreath system) -->
      <div class="notice-header">
        <h4 class="mt-2 mb-1">{{ memoriam.name }}</h4>

        <h6 class="mb-0">
          <span class="text-muted">Tribute: </span>
          {{ memoriam.createdAt | date : "MMMM d, yyyy" }}
        </h6>
      </div>

      <!-- FRAME AREA -->
      <div class="notice-frame">
        <!-- WREATH -->
        <img src="/assets/img/wreath-frame.png" class="wreath-bg" alt="" />

        <!-- SAFE CONTENT ZONE -->
        <div class="content">
          <img
            *ngIf="memoriam.imageId"
            class="notice-image"
            [src]="apiUrl + '/image/' + memoriam.imageId"
            alt="Notice image"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4">
    <div class="card shadow-sm border-0">
      <div class="card-body p-4">
        <div class="row d-flex">
          <div
            class="col-12 d-flex flex-column justify-content-center align-items-center"
          >
            <h5 class="">Tribute</h5>
            <textarea
              class="form-control-lg w-100 text-muted"
              id="announcement"
              readonly
              appAutoResizeTextarea
              name="announcement"
              [(ngModel)]="memoriam!.announcement"
              style="border: 2px solid #ddd; overflow: hidden; font-size: 16px"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
