<!-- Modal -->
<div
  class="modal fade"
  id="editMemoriamModal"
  tabindex="-1"
  aria-labelledby="editMemoriamModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-size: 20.4px">
          Enter Memoriam Number
        </h4>
        <button
          class="btn-close"
          type="button"
          aria-label="Close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form #memoriamNumberForm="ngForm">
          <div class="row mb-2">
            <div class="col-12">
              <label class="form-label" style="font-size: 14px"
                >Memoriam Number</label
              >
              <input
                class="form-control fw-bold"
                type="text"
                name="MemoriamNumber"
                [(ngModel)]="memoriamNumber"
                required
                #memoriamNumberCtrl="ngModel"
              />
              <div
                *ngIf="
                  memoriamNumberCtrl.invalid &&
                  (memoriamNumberCtrl.dirty || memoriamNumberCtrl.touched)
                "
              >
                <div *ngIf="memoriamNumberCtrl.hasError('required')">
                  <small class="text-danger"
                    >Memoriam Number is required.</small
                  >
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-primary w-100"
          type="button"
          style="background: var(--bs-black)"
          [disabled]="!memoriamNumberForm.valid"
          (click)="getMemoriamByNo()"
        >
          Get Memoriam
        </button>
      </div>
    </div>
  </div>
</div>
